@charset "utf-8";
/* CSS Document */
body{
	background-image: url("../../../Downloads/africa-african-animal-33045.jpg")
}
h1{
	text-align: center;
	font: "atomic-age", Segoe;
	color: white;
}

p{
	margin-left: 5%; 
	color: white;
	font: 10em;
}
